body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background: #f0f2f5;
}

/* MAIN LAYOUT */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 80px;
    padding: 20px;
}

/* LEFT SIDE */
.left h1 {
    color: #1877f2;
    font-size: 70px;
    margin: 0;
}

.left p {
    font-size: 28px;
    width: 500px;
    color: #1c1e21;
}

/* RIGHT SIDE */
.login-box {
    background: white;
    width: 360px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    font-size: 16px;
}

/* LOGIN BUTTON */
.login-btn {
    width: 100%;
    padding: 14px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    background: #166fe5;
}

/* LINK */
.login-box a {
    display: block;
    margin: 12px 0;
    color: #1877f2;
    text-decoration: none;
    font-size: 14px;
}

/* CREATE ACCOUNT */
.create-btn {
    width: 70%;
    padding: 14px;
    background: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn:hover {
    background: #36a420;
}

/* FOOT NOTE */
.create-page {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}